.resulth2{padding-left: 400px; margin-top: 50px; border-bottom: 3px solid;}

.resultul{padding-left: 900px; margin-top: -40px;}

.resultli{height: 10vh; list-style:none; }


.divli{padding-top: 30px;}

